.container{
	padding: 20px 10px
}

.bg_top{
	width: 100%;
	background: #000;
	height: auto;
}

.flex.box_one{
	justify-content: space-between;
	align-items: center;
}

.picture img{
	width: 150px;
	border-radius:8px;
}

.main_info{
	color:#fff;
}

.main_info p{
	margin-bottom: 8px;
}

.main_buttons{
	margin: 20px auto;
	text-align: center;
}

.main_buttons a{
	margin: 0 16px;
	text-decoration: none;
}

.active{
	background: var(--blue);
	border: none;
	color:#fff;
}

.active:hover{
	background: var(--blue_h);
	border: none;
	color:#fff;
}

.j_active.tab_item, .j_active.tab_item{
	display: block !important;
}

.tab_item, .tab_item{
	display: none;
}

.btn-grey-out{
	border-radius: 6px;
}



